# AREC Nouvelle Aquitaine emissions GES

## Emission de gaz a effet de serre 

Les emissions sont par EPCI

source: https://arec-nouvelleaquitaine.terristory.fr/

In [12]:
import pandas as pd

FILE2 = "_data/arec_nouvelle_aquitaine_emissions_GES_scope_1_2.csv"
FILE3 = "_data/arec_nouvelle_aquitaine_emissions_GES.csv"

df_scope2= pd.read_csv(FILE2, delimiter=";")
df_scope3= pd.read_csv(FILE3, delimiter=";")

In [13]:
SYBARVAL = [
    "CA Bassin d'Arcachon Sud-PÃ´le Atlantique (COBAS)",
    "CA du Bassin d'Arcachon Nord",
    "CC du Val de l'Eyre",
]

In [14]:
df_scope2_sybarval =  df_scope2[df_scope2["nom"].isin(SYBARVAL)]
df_scope3_sybarval =  df_scope3[df_scope2["nom"].isin(SYBARVAL)]

## GES pour les 3 EPCI du SYBARVAL

Les resultats de AREC sont

In [15]:
df_scope2_sybarval_grouped = df_scope2_sybarval.groupby("nom")["valeur_ktCO2e"].sum()

In [16]:
toutes_emissions = df_scope2_sybarval_grouped.sum()
print(f"{toutes_emissions}")

1062.614926188575

In [17]:
df_scope3_sybarval.dropna(subset=["valeur_ktCO2e"]).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   code           0 non-null      int64
 1   nom            0 non-null      object
 2   x              0 non-null      int64
 3   y              0 non-null      int64
 4   secteur        0 non-null      object
 5   origine_ges    0 non-null      object
 6   type_gaz       0 non-null      object
 7   valeur_ktCO2e  0 non-null      float64
 8   annee          0 non-null      int64
dtypes: float64(1), int64(4), object(4)
memory usage: 0.0+ bytes